confluent-kafka==1.8.2
psycopg2==2.9.1 
pytest==7.2.0
pyspark==3.1.2
statsd==4.0.1
apache-airflow-providers-apache-spark==3.0.0
apache-airflow-providers-cncf-kubernetes==4.4.0
apache-airflow-providers-amazon==6.0.0
apache-airflow-providers-postgres==5.2.2
apache-airflow-providers-sftp==4.1.0
apache-airflow-providers-ssh==3.2.0
Flask==2.2.5
Flask-AppBuilder==4.3.0
Werkzeug==2.2.3
certifi==2022.12.7
cryptography==41.0.2
sqlparse==0.4.4
wheel==0.38.1